h1 {
    color: #4aaaa5;
} 

p {
    color: #777777;
}

/* The parent of the details. */

body {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

nav {
    max-width: 960px;
    background-color: #ffffff;
    margin: 0px 200px 0px 200px;  
    border-color:  #dddddd;

}

    #nav-bar-name {
        background-color: #4aaaa5;
        color: #ffffff;
        border-color: #cccccc;
        max-width: 200px;
        text-align: center;
    }

    /* Sets the relative position of the list to the rightmost of the body */
  .nav-buttons {
    list-style-type: none;
    position: relative;
    right: 0px; 
   
  }

  /* Allows items to be listed from right to left */
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    color: #777777;
  }

  /* id section for main */
   #main {
    background-image: url("../images/embossed-diamond.png");   
   } 

    /* id section for main-info information.  Sets the width to 960px */
    #main-info {
    /* max-width: 960px;  -- need to adjust for padding*/
    max-width: 860px;
    /* border: 15px solid green; */
    padding: 50px;
    margin: 0px 200px 0px 200px;  
    background-color: #ffffff;
    border-color:  #dddddd; 
    border-style: double;
  }

img {
  width: 200px;
  height: auto;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  padding: 15px;
}

footer{
  border-top: 8px solid #4aaaa5;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
}

/* Portfolio Page Styling */
#Hangman {
  background: url("../images/placeholder1.jpg") 0 0 no-repeat;
  display: block;
  height: 80px;
  width: 80px;
  float: left;
}

#RPG {
  background: url("../images/placeholder2.jpg") 0 0 no-repeat;
  display: block;
  height: 80px;
  width: 80px;
  float: left;
}

#Trivia {
  background: url("../images/placeholder3.jpg") 0 0 no-repeat;
  display: block;
  height: 80px;
  width: 80px;
  float: left;
}

#Widget {
  background: url("../images/placeholder4.jpg") 0 0 no-repeat;
  display: block;
  height: 80px;
  width: 80px;
  float: left;
}

#RPS {
  background: url("../images/placeholder5.jpg") 0 0 no-repeat;
  display: block;
  height: 80px;
  width: 80px;
  float: left;
}
    
  