 h1 {
    color: #4aaaa5;
} 

p {
    color: #777777;
}

/* The parent of the details. */
body {
   
}

nav {
    max-width: 960px;
    background-color: #ffffff;
    margin: 0px 200px 0px 200px;  
    border-color:  #dddddd;

}

footer{
    border-top: 8px solid #4aaaa5;
    text-align: center;
    position: sticky;
    background-color: #000000;
    color: #ffffff;
}
    #nav-bar-name {
        background-color: #4aaaa5;
        color: #ffffff;
        border-color: #cccccc;
        max-width: 200px;
        text-align: center;
    }

  /* Sets the relative position of the list to the rightmost of the body */
  ul {
    list-style-type: none;
    position: relative;
    right: 0px; 
  }

  /* Allows items to be listed from right to left */
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #ffffff;
    border-color: #cccccc;
    border-style: ridge;
    text-align: center;
  }

  /* id section for main */
   #main {
    background-image: url("../images/embossed-diamond.png");   
   } 

    /* id section for main-info information.  Sets the width to 960px */
    #main-info {
    /* max-width: 960px;  -- need to adjust for padding*/
    max-width: 860px;
    /* border: 15px solid green; */
    padding: 50px;
    margin: 0px 200px 0px 200px;  
    background-color: #ffffff;
    border-color:  #dddddd; 
    border-style: double;
  }



    
  