 h1{
    color: #4aaaa5;
} 

p {
    color: #777777;
}

body {
    max-width: 960px;
}

  #nav-bar {
      padding-bottom: 20px;
  }

  /* #nav-bar-name {
    float: left;
  } */

  ul {
    list-style-type: none;
  }

  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #ffffff;
    border-color: #cccccc;
    text-align: center;
  }

  /* #main-info {
      scroll-padding-top: 40px;
  } */

  